<div class="text-center">
  <h6>Welcome, {{name}}</h6>
  {{#if posts.length}}
    <h5>My posts</h5>
    {{#each posts as |post|}}
    {{!-- <div class="card"> --}}
      {{!-- {{> post-details}} --}}
      <a href="/dashboard/edit/{{id}}" class="btn btn-sm btn-danger blue" style="margin: 1rem;">{{post.title}}</a><br>
      {{!-- <button>{{post.title}}</button> --}}
      {{!-- <p>{{post.content}}</p> --}}
      {{!-- <p> <b>created at:</b> {{format_date post.date_created}}</p> --}}
      {{!-- <a class="btn btn-sm btn-danger red delete-post" data-id="{{post.id}}">Delete</a> --}}
      {{!-- <a href="/dashboard/edit/{{id}}" class="btn btn-sm btn-danger red edit-post" data-id="{{post.id}}">Edit</a> --}}
    {{!-- </div> --}}
    {{/each}}
  {{/if}}
</div>

<div class="col-md-6">
  <h5>Create a New Post:</h5>
  <div class="card">
      <form class="form new-post-form">
        <div class="form-group">
          <label for="post-name">New Post:</label>
          <input class="form-input" type="text" id="post-name" name="post-name" />
        </div>
        <div class="form-group">
          <label for="post-desc">Text:</label>
          <textarea class="form-input" id="post-desc" name="post-desc"></textarea>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary black">Post</button>
        </div>
      </form>
  </div>
</div>


<script src="./js/dashboard.js"></script>
