<h5>Welcome, {{name}} ...</h5>
<div class="text-center">
  <div class="row">
      <div class="col m12">
        <div class="card  overlap-card grey lighten-5 z-depth-1 dashboard-post">
          <span class="card-title black-text dashboard-newpost-title"><b>Enter new post:</b></span>
          <form class="form new-post-form ">
            <div class="form-group">
              {{!-- <label for="post-name" class="black-text">Title:</label> --}}
              <input class="form-input black-text" type="text" id="post-name" name="post-name" placeholder="Title"/>
            </div>
            <div class="form-group">
              {{!-- <label for="post-desc" class="black-text">Body:</label> --}}
              <textarea class="form-input black-text dashboard-body" id="post-desc" name="post-desc" placeholder="Body"></textarea>
            </div>
            <div class="form-group">
              <button class="btn white white-text waves-effect waves-purple blue-grey lighten-2" type="submit">Post</button>
            </div>
          </form>      
        </div>
      </div>
  </div>
  <div class="row">
      <div class="col m12">
        {{#if posts.length}}
          <h5 "grey-text">Posts</h5>
          {{#each posts as |post|}}
          <div class='collection post-btn'>
            {{!-- <a href="/dashboard/edit/{{id}}" class="collection-item">{{post.title}}</a> --}}
            <a href="/dashboard/edit/{{id}}" class="collection-item blue-text ">{{post.title}}</a>
          </div>
          {{/each}}
        {{/if}}
      </div>
      <div class="col m8">
        {{> post-details}}
      </div>
   </div>
</div>


<script src="./js/dashboard.js"></script>
{{!-- <script src="./js/get-post.js"></script> --}}
