<div class="col s12 m6">
  <div class="card z-depth-1">
    <div class="card-content">
      <h4 class="purple-text">{{postItem.title}}</h4>
      <h6 href="#" class="grey-text">Posted By: {{postItem.user.name}}</h6>
        <p class="black-text">{{postItem.content}}</p>
    </div>
    <div class="card-action left-align">
      <div>
      <h5>Comments</h5>
      </div>
        {{#each postItem.comments as |com|}}
          <div class="card-panel grey lighten-5 z-depth-1">
            <em><h6 class="grey-text"> Created By: {{ com.user.name}} </h6></em>
            <p>{{com.text}}</p>
            <div class="card-action right-align">
              <a href="#" class="black-text"> Date: {{format_date com.date_created}}</a>
            </div>
          </div>
         {{/each}}
    </div>
  </div>
</div>
