<div class="col s12 m6">
  <div class="card z-depth-1">
    <div class="card-content">
      <h5 class="purple-text">{{postItem.title}}</h5>
      <h6 href="#" class="grey-text"> Created by: {{postItem.user.name}}</h6>
      <p class="black-text">{{postItem.content}}</p>
    </div>
    <div class="card-action left-align">
      <div>
        <h5>Comments</h5>
      </div>
      {{#each postItem.comments as |com|}}
      <div class="card-panel blue-grey lighten-5 z-depth-1">
        <em>
          <p class="grey-text"> Created by: {{com.user.name}} </p>
        </em>
        <em>
          <p class="grey-text"> {{format_date com.date_created}} </p>
        </em>
        <p>{{com.text}}</p>
      </div>
      {{/each}}
    </div>
  </div>

  <div class="card z-depth-1">
    <div class="card  overlap-card grey lighten-5 z-depth-1 dashboard-comment">
      <span class="card-title black-text"><b>Add comment:</b></span>
      <form class="form new-comment-form" data-id="{{postItem.id}}">
        <div class="form-group" >
          <textarea class="form-input black-text dashboard-body" id="comment-desc" name="comment-desc"
            placeholder="Body"></textarea>
        </div>
        <div class="form-group" >
          <button class="btn white white-text waves-effect waves-purple blue-grey lighten-2" data-id="{{postItem.id}}"
            type="submit">Comment</button>
        </div>
      </form>
    </div>
  </div>
</div>


<script src="/js/add-comment.js"></script>