<div class="text-center">
  <h2>{{postItem.title}}</h2>
  <h4>User: {{postItem.user.name}} </h4>
  <p>{{postItem.content}}</p>
  {{#each postItem.comments as |com|}}
      <p>{{com.date_created}}</p>
      <p>{{com.text}}</p>
  {{/each}}
</div>
